<div class="flex <%= message.sender == "user" ? "justify-end" : "justify-start" %>">

  <div class="<%= message.sender == "user" ?
    'bg-gradient-to-r from-pink-400 to-pink-500 text-white rounded-lg px-4 py-3 max-w-xs md:max-w-md' :
    'bg-gradient-to-r from-purple-400 to-purple-600 text-white rounded-lg px-5 py-4 max-w-lg md:max-w-2xl whitespace-pre-wrap leading-relaxed' %>">
      <%= simple_format(message.content, {}, sanitize: false) %>
  </div>

</div>