<header class="w-full p-4 bg-indigo-600 text-white">
  <div class="max-w-5xl mx-auto flex items-center justify-between">
    <h1 class="font-bold">Mochibe.</h1>
    <nav class="text-sm opacity-90"> <!-- 必要ならリンク追加 -->
      <!-- <%= link_to "Home", root_path %> -->
    </nav>
  </div>
</header>