<% content_for :body_class, "bg-gradient-to-b from-sky-400 via-sky-200 to-white" %>

<!-- Hero -->
<section class="relative flex-1 flex items-center justify-center">

  <!-- コンテンツ本体 -->
  <div class="relative text-center space-y-5">
    <h1 class="mt-2 mb-6 inline-block px-8 py-2
                 rounded-xl bg-white/70 backdrop-blur-sm shadow-sm
                 text-pink-500 text-2xl font-semibold tracking-wide
                 animate-fade-up">
      分析結果がまだありません
    </h1>

    <p class="text-base md:text-lg text-gray-700
               animate-fade-up anim-delay-200">
      分析を始めるボタンから分析を始めてください
    </p>

    <%= link_to "分析を始める",
            new_analysis_path,
            class: "inline-flex items-center justify-center rounded-full
            px-6 py-3 text-sm font-semibold text-white bg-gradient-to-r
            from-indigo-400 via-purple-400 to-pink-500 hover:from-indigo-500
            hover:via-purple-500 hover:to-pink-600 transition shadow-md animate-fade-up anim-delay-400" %>
  </div>
</section>
